* {
            box-sizing: border-box;
        }

        .header, .footer {
            background-color: rgb(40, 82, 81);
            color: white;
            padding: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .column {
            float: left;
            padding: 15px;
        }

        .menu {
            width: 25%;
        }

        .content {
            width: 75%;
        }

        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .menu li {
            padding: 8px;
            margin-bottom: 8px;
            background-color: #33E5AE;
            color: #ffffff;
        }
        .menu li:hover {
            background-color: #00CC9C; /*när man har musen över knappen*/
        }

        a:link, a:visited {
            color: white;
            padding: 14px 60px;
            text-align: left;
            text-decoration: none; /*underline*/
            display: inline-block; /*box*/
        }
        
        a:hover, a:active {
            background-color: rgba(255, 0, 0, 0.00);
        }